.expired_msg {
  margin: 20px;
  padding: 20px;
  max-width: 40%;
  min-width: fit-content;
  min-height: 40vh;
  border: 5px solid #c2262f;
  background-color: #fb7c78;
  color: #c2262f;
  border-radius: 15px;
}
